[build]
  builder = "DOCKERFILE"
  dockerfilePath = "Dockerfile"

[deploy]
  startCommand = "./server"
  restartPolicyType = "ON_FAILURE"
  restartPolicyMaxRetries = 3
  healthcheckPath = "/healthz"
  healthcheckTimeout = 10
